/*===Fonts===*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*===Default CSS===*/
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	color: white;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 10px;
}

body {
	font-family: 'Poppins', sans-serif;
}

/*===Body CSS===*/

.wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 1rem 0px 0px 2rem;
}

.wrapper:before,
.wrapper:after {
	content: "";
	display: table;
	clear: both;
}

img {
	width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: #3d4270;
	text-align: center;
	margin: 0;
}

h2 {
	font-size: 4.5rem;
}

p {
	font-size: 1.8rem;
	font-weight: 400;
	color: #65677e;
	text-align: center;
	line-height: 2.8rem;
	width: 50%;
	margin: 0 auto;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

.col-20 {
	width: 20%;
	float: left;
}

.col-25 {
	width: 25%;
	float: left;
}

.col-33 {
	width: 33%;
	float: left;
}

.col-50 {
	width: 50%;
	float: left;
}

.col-80 {
	width: 80%;
	float: left;
}


.goToTop-btn {
	background: linear-gradient(95deg, #5533ff 40%, #25ddf5 100%);
	height: 4rem;
	width: 4rem;
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	border-radius: .5rem;
	text-align: center;
	padding-top: .8rem;

}

.goToTop-btn:hover {
	background: linear-gradient(to right, #365ae1 0%, #6286eb 50%, #365ae1 100%);
}

.goToTop-btn .fas {
	color: white;
	font-size: 2rem;
	transform: rotate(180deg);
}

input,
button,
.fab,
.service .icon,
a
{
	cursor: pointer;
}

.btn {
	display: inline-block;
	padding: 1.8rem 3.6rem;
	font-size: 1.8rem;
	border-radius: 1rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	transition: all .5s ease-in-out;
	border: none;
}

.padding-top {
	padding-top: 10rem;
}

/*===Home Section CSS Start===*/
.home {
	background: linear-gradient(#365ae1 0%, #244ae2 4.66%, #1029a6 76.69%, #1029a6 100%);
	padding: 2rem 0 2rem 12rem;
	width: 100%;

}

.wrapper:nth-child(2) {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo {
	max-width: 15rem;
}

.menu ul {
	float: right;
}

.menu ul li {
	display: inline-block;
	padding: .5rem 2rem;
	line-height: 3rem;
	border: 1px solid transparent;
	transition: all ease .7s;
	margin-right: 1.5rem;
	border-radius: 3.2rem 0;
	border-right: 2px solid yellow;
	border-bottom: 2px solid yellow;
	border-left: 2px solid transparent;
	border-top: 2px solid transparent;


}

.menu ul li:last-child {
	margin-right: 0;
}

.menu ul li:hover {
	border-radius: 1rem;
	border: 2px solid yellow;

}

.menu a {
	font-size: 1.5rem;
}

/*===Home Section CSS End===*/

/*===Hero Section CSS Start===*/
.hero-section {
	background: linear-gradient(95deg, #365ae1 0%, #244ae2 4.66%, #1029a6 76.69%, #1029a6 100%);
	width: 100%;
	padding: 7rem;
}

.hero-section .left {
	padding: 10rem 0 0 10rem;
}

.hero-section h2 {
	width: 80%;
}

.hero-section h2,
.hero-section p {
	text-align: left;
	margin: 0 0 2rem 0;
	color: #f8f8f8;
}

.hero-section .btn {
	background: linear-gradient(to right, #34b15e 0%, #34b15e 50%, #73e09a 100%);
	transition: all ease .5s;

}

.hero-section .btn:hover {
	background: linear-gradient(to right, #73e09a 0%, #34b15e 50%, #34b15e 100%);
}

.hero-section .right {
	padding: 10rem;
}

/*===Hero Section CSS End===*/

/*===Specialities Section CSS Start===*/
.specialities .heading {
	padding-bottom: 3rem;
}

.specialities .col-33 {
	background: linear-gradient(#365ae1 0%, #244ae2 22.16%, #1029a6 76.69%, #1029a6 100%);
	text-align: center;
	padding: 5rem;
}

.specialities .col-33:nth-child(1) {
	border-radius: 2.7rem 0 0 2.7rem;
}

.specialities .col-33:nth-child(3) {
	border-radius: 0 2.7rem 2.7rem 0;
}

.specialities img {
	height: 17rem;
	width: 18rem;
}

.specialities h3 {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.specialities .col-33 p {
	width: 100%;
}

.specialities h3,
.specialities .col-33 p {
	margin-top: 2rem;
	color: white;
}

/*===Specialities Section CSS End===*/


/*===About Section CSS Start===*/
.about p {
	width: 100%;

}

.about p,
.about h2 {
	text-align: left;
	margin-bottom: 2rem;
}

.about .col-50:nth-child(2) {
	padding-left: 5rem;
}

.about .btn {
	background-image: linear-gradient(to right, #365ae1 0%, #365ae1 50%, #6286eb 100%);

}

.about .btn:hover {
	background-image: linear-gradient(to right, #6286eb, #365ae1 50%, #365ae1 100%);
}

/*===About Section CSS End===*/


/*===Service Section CSS Start===*/
.service .content {
	padding: 4rem 0 0 10rem;
}

.service .content .col-33 {
	padding: 1.5rem;
}

.service .content h3 {
	font-size: 2.2rem;
	padding: 2rem 0;
}

.service .content h3,
.service .content p {
	width: 100%;
	text-align: left;
}

.service .content p {
	padding-bottom: 2rem;
}

.service .content .icon {
	height: 7rem;
	width: 7rem;
	border-radius: 1rem;
	text-align: center;
	font-size: 3rem;
	background: #365ae1;
	color: #fff;
	box-shadow: 5px 5px 0 rgba(54, 90, 225, .3);
	transition: all ease-in-out .3s;
}

.service .content .icon:hover {
	transform: scale(1.1);
}

.service .fas {
	vertical-align: middle;
	height: 1rem;
}

/*===Service Section CSS End===*/


/*===Roadmap Section CSS Start===*/
.roadmap {
	background-image: url(../images/common-bg.jpg);
	width: 100%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
}

.roadmap .content {
	padding-top: 4rem;
	position: relative;
}

.roadmap .up-content {
	width: 100%;
	position: absolute;
	top: 2.4rem;
	left: 15rem;

}

.roadmap .circle {
	display: inline-block;
	width: 18%;
	font-size: 2.5rem;
}

.roadmap hr {
	width: 90%;
	margin: 0 auto;
}

.roadmap h2,
.roadmap h4,
.roadmap p {
	color: white;

}

.roadmap .content p {
	width: 100%;
	font-size: 1.6rem;
}

.roadmap .content h4 {
	font-size: 1.8rem;
}

.roadmap .down-content {
	padding-top: 3rem;
	padding-left: 2rem;
}

.roadmap .inner-content {
	float: left;
	width: 19%;
	padding: 2rem;
}

/*===Roadmap Section CSS End===*/


/*===Effeciency Section CSS Start===*/
.effeciency h2,
.effeciency p {
	text-align: left;
	width: 100%;
	margin-bottom: 2rem;
}

.effeciency .content .btn {
	background-image: linear-gradient(to right, #365ae1 0%, #365ae1 50%, #6286eb 100%);

}

.effeciency .btn:hover {
	background-image: linear-gradient(to right, #6286eb, #365ae1 50%, #365ae1 100%);
}

/*===Effeciency Section CSS End===*/


/*===Team Section CSS Start===*/
.team .heading {
	padding-bottom: 5rem;
}

.team .content p {
	width: 100%;
}

.team .col-25 {
	position: relative;
}

.team .img {
	height: 31rem;
	width: 34rem;
	padding-bottom: 1rem;
}

.team .img img {
	width: 75%;
	height: 100%;
}

.team h3 {
	font-size: 2rem;
}

.team .col-25 .social {
	position: absolute;
	left: 8rem;
	bottom: 5.5rem;
}

.team .fab {
	font-size: 1rem;
	padding: 1rem;
	background-image: linear-gradient(to right, #6286eb, #365ae1 50%, #365ae1 100%);
	color: white;
	height: 3rem;
	width: 3rem;
	text-align: center;
	border-radius: 50%;
	transition: all ease .2s;
}

.team .fab:hover {
	background-image: linear-gradient(to right, #365ae1 0%, #365ae1 50%, #6286eb 100%);
	transform: scale(1.1);
}

/*===Team Section CSS End===*/


/*===Countdown Section CSS Start===*/
.countdown {
	background-image: url(../images/common-bg.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;

}

.countdown .col-50:nth-child(2) {
	padding-top: 10rem;
	padding-bottom: 5rem;
}

.countdown h2,
.countdown p {
	text-align: left;
	width: 100%;
	margin-bottom: 5rem;
	color: white;
}

.countdown .content .btn {
	background: linear-gradient(to right, #34b15e 0%, #34b15e 50%, #73e09a 100%);
	transition: all ease .5s;


}

.countdown .btn:hover {
	background: linear-gradient(to right, #73e09a 0%, #34b15e 50%, #34b15e 100%);
}


/*===Countdown Section CSS End===*/


/*===Contact Section CSS Start===*/
.contact {
	padding-bottom: 10rem;
}

.contact form,
.contact .map {
	padding-top: 5rem;
}

.contact input[type="text"],
.contact input[type="email"] {
	display: inline-block;
	padding: 2rem 8rem 2rem 2rem;
	margin: 0 2rem 2rem 0;
	border-radius: .5rem;
	border: 1px solid #dadada;
	color: black;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover {
	border: 1px solid #73e09a;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus {
	border: 1px solid #365ae1;
}

.contact input:nth-child(5) {
	width: 95%;
	min-height: 15rem;
}

.contact .btn {
	background-image: linear-gradient(to right, #365ae1 0%, #365ae1 50%, #6286eb 100%);
	transition: all ease .5s;
}

.contact .btn:hover {
	background-image: linear-gradient(to right, #6286eb, #365ae1 50%, #365ae1 100%);
}

/*===Contact Section CSS End===*/


/*===Footer Section CSS Start===*/
.footer {
	background-image: url(../images/common-bg.jpg);
	width: 100%;
	padding: 12rem 7rem 5rem 7rem;
}

.footer p,
.footer h1,
.footer h3 {
	text-align: left;
	width: 100%;
	color: white;
}

.footer h1 {
	font-size: 2.6rem;
	margin-bottom: 4rem;
}

.footer h3 {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.8rem;
	margin-bottom: 3rem;
}

.footer p {
	line-height: 4rem;
}

.footer .left,
.footer .right,
.footer .middle,
.footer .first,
.footer .second {
	float: left;
}

.footer .left,
.footer .right {
	width: 30%;
}

.footer .left {
	padding-right: 2rem;
}

.footer .left p {
	padding: 2rem 0;
}

.footer .middle {
	width: 40%;
}

.footer .first,
.footer .second {
	width: 50%;
	margin: 0 auto;
}

.footer img {
	width: 40%;
	height: auto;
}

.footer .social .fab {
	font-size: 2rem;
	padding: 1rem;
	background-image: linear-gradient(to right, #6286eb, #365ae1 50%, #365ae1 100%);
	color: white;
	height: 5rem;
	width: 5rem;
	text-align: center;
	border-radius: 50%;
	transition: all ease .2s;
	line-height: 3rem;
	margin: .5rem;
}

.footer .social .fab:hover {
	background: white;
	color: #6286eb;
	transform: scale(1.1);
}

/*===Footer Section CSS End===*/


/*===Admin Section CSS Start===*/
.admin {
	background: #1A0E27;
	width: 100%;
}

.admin .info {
	width: 70%;
	margin: 0 auto;
}

.admin h1 {
	display: inline-block;
	color: white;
}

.admin img {
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	vertical-align: middle;
}

/*===Admin Section CSS End===*/
